@font-face {
    font-family: 'Rubik-regular';
    src: url(../fonts/Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-medium';
    src: url(../fonts/Rubik-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-regular';
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-medium';
    src: url(../fonts/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: red; */
}
.header_wrapper{
    width: 100%;
    position: fixed;
    height: 5em;
    background-color: #879DFF;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.links{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px;
}
.link{
    font-family: 'Rubik-regular';
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
.link:hover:after {
    width: 100%;
}
.link::after {
    position: absolute;
    content: '';
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    background: #FCAB5E;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    border-radius: 90px;
}

.section1_wrapper{
    background: url(../image/background.png) center/cover no-repeat;
}
.section1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 p{
    font-family: 'Rubik-regular';
    color: #B4B6B6;
    font-size: 22px;
    margin-top: 18px;
}
.section1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D79252;
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 64px;
    border-radius: 5px;
    font-family: 'Ubuntu-Regular';
    font-size: 19px;
    margin-top: 47px;
    border: none;
    cursor: pointer;
}
.section2_wrapper{
    background-color: #fff;
}
.section2{
    padding: 118px 0 163px;
}
.section2 h2{
    font-family: 'Rubik-medium';
    font-size: 58px;
    margin-bottom: 32px;
}
.section2 p{
    font-family: 'Ubuntu-regular';
    font-size: 22px;
    margin-bottom: 51px;
}
.section2 span{
    font-family: 'Ubuntu-medium';
    font-size: 25px;
    color: #FCAB5E;
}
.stadi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    width: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block p{
    font-family: 'Ubuntu-regular';
    font-size: 20px;
    text-align: center;
    margin: 22px 0 0;
}
.section3{
    padding-bottom: 80px;
}
.section3 h2{
    font-family: 'Rubik-medium';
    font-size: 58px;
    margin-bottom: 50px;
}
.section3 .cell{
    margin-top: 20px;
    width: 100%;
    padding: 56px 0 62px 105px;
    background-color: rgba(105, 133, 255, 0.4);
    background-image: linear-gradient(135deg, rgba(105, 133, 255, 0.3) 0%, rgba(252, 171, 94, 0.4) 100%);
    border-radius: 20px;
}
.section3 .cell h3{
    font-family: 'Rubik-medium';
    font-size: 32px;
    margin-bottom: 45px;
}
.section3 .cell li{
    font-family: 'Ubuntu-regular';
    font-size: 22px;
}
.section4_wrapper{
    background-color: #B3C1FF;
}
.section4{
    padding: 150px 0 236px;
}
.section4 h2{
    font-family: 'Rubik-medium';
    font-size: 58px;
    margin-bottom: 128px;
}
.section4 .projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
}
.section4 .projects .project{
    width: 100%;
    max-width: 700px;
    background-image: linear-gradient(90deg, rgba(105, 133, 255, 0.3) 0%, rgba(252, 171, 94, 0.4) 100%);
    padding: 17px 25px 30px 25px;
    border-radius: 20px;
}
.section4 .projects .project h3{
    font-family: 'Rubik-medium';
    font-size: 30px;
    margin-top: 10px;
}
.details {
    display: block;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 30px;
}
.details[open] {
    /* Место под текст */
    padding-bottom: 50px;
}
.details[open] .details__title {
    /* Позиционирование текста   */
    margin-bottom: 20px; 
}
.details__title {
    font-family: 'Ubuntu-regular';
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    list-style: none;

}
.details__content {
    font-family: 'Ubuntu-regular';
    font-size: 18px;
    margin-bottom: -50px;
    animation: animatetop 0.5s ease-in-out;
}
@keyframes animatetop {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
.section5_wrapper{
    width: 100%;
    padding: 50px 0;
}
.section5_wrapper .section5 h2, .section6 h2{
    font-family: 'Rubik-medium';
    font-size: 50px;
    margin-bottom: 50px;
}
.section5_wrapper .section5 .table{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section5_wrapper .section5 .table .cell{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 30%;
    border-radius: 20px;
    background: rgba(105, 133, 255, 0.3);
    background-image: linear-gradient(90deg, rgba(105, 133, 255, 0.3) 0%, rgba(252, 171, 94, 0.4) 100%);
    padding: 53px 30px;
}
.section5_wrapper .section5 .table .cell h3{
    font-family: 'Ubuntu-regular';
    font-size: 28px;
}
.section5_wrapper .section5 .table .cell p{
    font-family: 'Ubuntu-regular';
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
}
.section5_wrapper .section5 .table .cell:hover p {
    animation: niceShow .7s ease-out forwards;
    margin-top: 20px
}
.section5_wrapper .section5 .table>.cell {
    height: 250px
}
@keyframes niceShow {
    0% {
        max-height: 0
    }

    100% {
        max-height: 100%
    }
}
.section6{
    padding: 50px 0;
}
footer{
    background: rgba(105, 133, 255, 0.8);
}
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
}
.silki{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navigation, .tel, .mesto, .pochta {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.silki p,  .silki a{
    font-family: 'Ubuntu-regular';
    font-size: 18px;
    color: #fff;
}
.silki a{
    text-decoration: none;
}
.silki .zaglav{
    font-family: 'Rubik-medium';
    font-size: 22px;
    color: #fff;
}
.silki button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #879DFF;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 55px;
    width: 100%;
    max-width: 230px;
    font-family: 'Ubuntu-medium';
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.footer_logo{
    margin: 20px 0;
}
.prava{
    font-family: 'Ubuntu-regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}
@media (max-width:1440px) {
    .container{
        max-width: 1024px;
    }
}
@media (max-width:1024px) {
    .container{
        max-width: 768px;
    }
}
